.form {
    margin: 0;
    &__checkbox {
        height: 19px;
        width: 19px;
    }
    &__attributes{
        margin: 0;
    }
    &__attribute{
        display: flex;
        align-items: center;
        gap: 7px;
        margin-top: 10px;
    }
}