:root {
    --bg-color: #f8f9fb;
    --inverted-bg-color: #090949;
    --primary-color: #141c24;
    
    --secondary-color: #f4c753;
    --inverted-primary-color: #3f5374;
    --inverted-secondary-color: #04ff04;
}
