.btn {
    color: var(--inverted-primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 5px 10px;
    width: 350px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    margin: 20px auto 0px auto;
    &:hover {
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-weight: bold;
        .btn__innerText{
            margin-left: 30px;
        }
        .btn__block {
            top: 7px;
        }
    }
    &__innerText {
        transition: margin-left 0.5s;
    }
    &__block {
        width: 20px;
        position: absolute;
        left: 74px;
        top: 50px;
        transition: all .5s;
    }
} 
.generation-form__btn {

}
.clear {
    border: none;
}
.black {
    border: 1px solid red;
}